:root {
   /* Tipografía */
   --fuentePrincipal: 'Montserrat', sans-serif;

   /* Colores */
   --colorPrincipal: #793a7b;
   --colorSecundario: #1d293e;
   --naranja: #f3b229;
   --negro: #000000;
   --blanco: #ffffff;
   --gris: #3a3a3a;
   --grisClaro: #e6e8f0;
   --rojo: #fc0404;
   --verde:#00ff5e; 
}


/* GLOBALES */ 
html {
    font-size: 62.5%; /* 10px igual a 1rem*/
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
 body {
   font-family: var(--fuentePrincipal) ;
   font-size: 1.6rem;
   background-image: url(../image/fondoArg.jpg);
   background-repeat: no-repeat;
   background-size: cover; 
   width: 100%;
   height: 100%;
}

 p {
    /* font-size: 2rem;
    color: var(--blanco);
    line-height: 1.5; */
    text-align: center;
 }

 .contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
 }

 a {
    text-decoration: none;
 }

 h1, h2, h3 {
    margin: 0 0 5rem 0;
 }
 h1 {
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
 }
 h2 {
    font-size: 3.6rem;
 }
 h3 {
    font-size: 3rem;
 }

 #contacto_img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

/* BOTONES */

.boton-naranja {
   background-color: var(--naranja);
   color: var(--blanco);
   font-weight: bold;
   text-decoration: none;
   padding: 1rem 3rem;
   margin: 2.5rem 0 2.5rem 0;
   border: none;
   border-radius: 2rem;
}
 /* Transformación y transición */
.boton-naranja:hover {
   transform: scale(1.1);
   transition: all 0.2s ease-in-out;
   /* background-color: #d2991d; */
   cursor: pointer;
   border: 3px solid var(--naranja);
   background-color: var(--blanco);
   color: var(--naranja);
}
.boton-vino {
   background-color: var(--colorPrincipal);
}
.boton-vino:hover {
   border: 3px solid var(--colorPrincipal);
   color: var(--colorPrincipal);
}

 /* HEADER */

 .header {
    background-color: var(--colorPrincipal);
    color: var(--blanco);
 }
 
.logo {
   display: block;
   text-align: center;
}
.logo div {
   height: 20rem;
   padding-top: 2rem;
}
.img-1 img {
   height: 20rem;
   width: auto;
}
.img-2 img {
   height: 20rem;
   width: auto;
}

@media (min-width: 768px) {
   .logo {
      display: flex;
   }
   .logo div {
      padding: 0 2rem 0 0;
   }
}

 @media (min-width: 768px) {
    .contenido-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    } 
 }

 .header h1 {
    margin-bottom: 0;
    text-align: center;
 }
 .header p {
    margin-top: 0;
    font-size: 1.5rem;
 }
 @media (min-width: 768px) {
    .header p {
        margin: 0;
    }
 }

 .navegacion-principal {
    visibility: hidden; /* display: none; */
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear;

    font-size: 1.8rem;
    text-align: center;
 }
 @media (min-width: 768px) {
    .navegacion-principal {
        display: flex;
        gap: 2rem;
        opacity: 1;
        visibility: visible;
    }
 }

 .navegacion-principal a {
    color: var(--blanco);
    display: block;
    padding-bottom: 2rem;
 }
 @media (min-width: 768px) {
    .navegacion-principal a {
        margin-bottom: 0;
        padding-bottom: 0;
    }
 }

/*Menu de hamburguesa*/
@media (min-width: 768px) {
   .menu-nav {
      display: none;
   }
}
.menu-nav {
   text-align: center;
   margin-bottom: 2rem;
   font-size: 4rem;
}
.mostrar {
   visibility: visible;
   opacity: 1;
}

 
 /* FOOTER */
 .footer {
   background-color: var(--colorSecundario);
   color: var(--blanco);
 }
 @media (min-width: 768px) {
    .contenido-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
 }
 .contenido-footer {
   padding: 2rem;
 }
 @media (min-width: 768px) {
    .redes {
      display: flex;
      align-items: center;
    }
    .redes div {
      margin-right: 2rem;
    }
    .contacto {
      margin-right: 4rem;
    }
 }
.redes {
   text-transform: uppercase;
}
 .iconos {
   text-align: center;
 }
 .contacto a {
   color: var(--blanco);
   font-size: 2rem;
 }
 .contacto {
   text-transform: uppercase;
   text-align: center;
   margin-top: 2rem;
 }
 .copyright p {
   font-size: 1.5rem;
 }

 a:hover {
   color: var(--naranja);
 }
 
 /* MAIN */
 /* main {
   background-color: var(--grisClaro);
 } */

/* FORMULARIO */
.contenido-contacto {
   background-color: var(--blanco);
   max-width: 80rem;
   padding: 3rem;
}
.formulario p {
   font-size: 1.4rem;
   color: var(--gris);
   text-align: left;
}
.font-contacto {
   font-weight: 400;
   text-align: center;
   padding-top: 4rem;
}
.formulario legend {
   font-size: 2rem;
   color: var(--gris);
}
.formulario label {
   font-weight: bold;
   text-transform: uppercase;
   display: block;
}
.formulario input:not([type="submit"]), textarea, select {
   padding: 1rem;
   display: block;
   width: 100%;
   background-color: var(--blanco);
   border: 1px solid #d7d9e1;
   border-radius: 1rem;
   margin-bottom: 2rem;
}
.forma-contacto {
   max-width: 30rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.forma-contacto input[type="radio"] {
   margin: 0;
   width: auto;
}

/* Form validacion*/
.error .error-mensaje {
   color: var(--rojo);
}

.exito {
   background-color: var(--verde);
   color: var(--blanco);
   font-size: 1.5rem;
   padding: 1rem;
   margin-bottom: 2rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
}

/* GALERIA */
.galery {
   max-width: 800px;
   padding: 1rem;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 200px 200px 200px 200px;
   grid-template-rows: 200px 200px 200px;
   grid-gap: 1rem;
 }
  
 img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 10px;
 }
  
 .item-a {
   grid-row: 1 / 3;
 }
  
 .item-b {
   grid-column: 3 / 5;
 }
  
 .item-c {
   grid-row: 2 / 4;
 }
  
 .item-d {
   grid-column: 3 / 5;
}


/* INDEX */
.dj-banner{margin: 30px 0; position: relative}
   .dj-banner .dj-bg{background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%;}
   .dj-banner .dj-bg img{display: block; margin: 20px auto; padding: 20px 0;}
   .dj-banner .dj-text{text-align: center; padding-bottom: 20px;}
   @media screen and (min-width:768px){
      .dj-banner .dj-bg img{margin-right: 200px;}
      .dj-banner .dj-text{position: absolute; top: 50%; left: 10%; transform: translate(-10%, -50%); width: 50%; text-align: left;}
      .dj-banner .dj-text h1{font-size: calc(2*1.5vw);}
      .dj-banner .dj-text p{font-size: calc(1.2*1.5vw);}
   }

.imgBanner{
	height: 340px;
	width: 540px;
   border-radius: 20%;
}

.juegoPelotas {
   color: rgb(49, 2, 49);
   text-transform: capitalize;
}
.colorLetra{
   color: white;
   font-size:10px;
}

.colorTitle{
   color: rgb(49, 2, 49);
   /* padding-bottom: 20px; */
}

   
   
#juego h2{
   text-align: center;
   margin: 1em;
   margin-left: 10px;
   margin-top: 80px;
}

#juego{
   margin-left: 60px;
}

#otro,
#piedra,
#papel,
#tijera{
    width: 140px;
    height: 140px;
    border-radius:50%;
    margin: 0;
    border: 1px solid rgba(0,0,0,0);
    padding: 0;
    display:inline-block;
    position:relative;
    overflow: hidden;
    cursor: pointer;
    margin: 4em 0 0 8em;
    background: url(../image/pelota.jpg);
}

@media (min-width: 768px) {
  #otro,
  #piedra,
  #papel,
  #tijera {
    width: 140px;
    height: 140px;
    border-radius:50%;
    margin: 0;
    border: 1px solid rgba(0,0,0,0);
    padding: 0;
    display:inline-block;
    position:relative;
    overflow: hidden;
    cursor: pointer;
    margin: 4em 0 0 8em;
    background: url(../image/pelota.jpg);
      
  }
}

#tijera:hover{
    background: url(../image/segun2.png);
    align-content: center;
    
}

#papel:hover{
    background: url(../image/copa.png);
    align-content: center;
    
}

#piedra:hover{
  background: url(../image/bobo.png);
  align-content: center;
  

}

#otro:hover{
  background: url(../image/seguiParticipando.png);
  align-content: center;

}
 /* Iframe video */
.iframe-video {
   text-align: center;
}
.iframe-video h2 {
   margin-top: 8rem;
}

@media (min-width: 768px) {
   .article{
      max-width: 400px;
      align-items: center;
      padding: 1rem;
      margin-left: 300px;
      margin-top: 100px;
      display: grid;
      grid-template-columns: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px; 
      
    }
    
    .cancha{
      grid-row: 1/8;
      grid-column: 1/8; 
    }
}
 
/* CONTACTANOS */
/* MAP*/
#map {
   height: 500px;
   width: 100%;
}

/* TIENDA */
.container {
   display: flex;
   justify-content: center;
   align-content: space-between;
  }
  
  .product {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quantity-input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
  }
  
  .add-btn {
    background-color: #75AADB ;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .add-btn:hover {
    background-color: #184b77 ;
  }
 
  .add-btn:active {
    background-color: #0b8a7b;
    color: white;
  }
  
  
  .plus-btn,
  .minus-btn {
    width: 25px;
    height: 25px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
  }
  
  .plus-btn:hover,
  .minus-btn:hover {
    background-color: #ddd;
  }
  
  #cart {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  #cart h2 {
    margin-bottom: 10px;
  }
  
  #cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  #cart-items li {
    margin-bottom: 5px;
  }
  
  .remove-btn {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    background-color: #CC0000;
  }
  
  #total {
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  @media (max-width: 768px) {
    .product {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .product {
      width: 100%;
    }
  }
